<div class="first-row">
  <div class="col-sm-4 basic-container border">
    <img class="img" class="cover" src="https://via.placeholder.com/400" />
  </div>
  <div class="col-sm-8 basic-container border">description</div>
</div>

<div class="second-row">
  <div class="col-sm-6 basic-container">
    <div class="row basic-container border">actions</div>
    <div class="row basic-container border">bag</div>
  </div>
  <div class="col-sm-6 row basic-container border">
    <div class="col-sm-6 basic-container">
      <div class="row basic-container border">character avatar</div>
      <div class="row basic-container border">character stats</div>
    </div>
    <div class="col-sm-6 basic-container border">navigation</div>
  </div>
</div>
