<div class="full-container">
  <div class="container ">
    <div class=" icon-row">
      <div
        (click)="toggleModalState()"
        ngDraggable
        ngResizable
        [rzGrid]="50"
        class="col-lg-3 image"
      >
        <img width="100px" src="assets/terminalIcon.png" alt="" />
        <span class="text-white">Software.App</span>
      </div>
      <div (click)="toggleModalState()" class="col-lg-3 image">
        <img width="100px" src="assets/IconYo.png" alt="" />
        <span class="text-white">About.App</span>
      </div>
      <div (click)="toggleModalState()" class="col-lg-3  image">
        <img width="100px" src="assets/IconYo.png" alt="" />
        <span class="text-white">Games</span>
      </div>
    </div>

    <div *ngIf="_bs.modalState">
      asd
      <app-terminal></app-terminal>
    </div>

    <!-- <div class="terminal-container " ngDraggable ngResizable>
      <div class="terminal-before">
        <span>
          <span class="red-dot">&bull;</span>
          <span class="yellow-dot">&bull;</span>
          <span class="green-dot">&bull;</span>
        </span>
      </div>

      <div class="container">
        <p class="backdrop-text ">Last login: {{ today | date: "fullDate" }}</p>
        <p class="backdrop-text">
          <span class="special">
            ninapalumbo:website:~ SoftwareProjects$ >
            <span style="cursor: pointer">{{ softwareBlink.blinkString }}</span>
          </span>
        </p>
        <p class="backdrop-text">
          <span class="special">
            ninapalumbo:website:~ SoftwareProjects$ >
            <span style="cursor: pointer">{{
              softwareLongBlink.blinkLongString
            }}</span>
          </span>
        </p>
      </div>
    </div> -->
    <!-- Modal -->
    <!-- <div
        ngDraggable
        class="modal fade"
        id="modelId"
        tabindex="-1"
        role="dialog"
      >
        <div class="modal-dialog" role="document">
          <div class="terminal">
            <div class="terminal-before">
              <span>
                <span data-dismiss="modal" class="red-dot">&bull;</span>
                <span class="yellow-dot">&bull;</span>
                <span class="green-dot">&bull;</span>
              </span>
            </div>

            <div class="modal-body">
              Body content
            </div>
            <div class="modal-footer">
              <button class="" data-dismiss="modal">
                Close
              </button>
            </div>
          </div>
        </div>
      </div> -->
  </div>
</div>
