<!-- <div class="row">
  <div
    style="display: flex; justify-content: space-between; align-items: center;"
    class="col-sm-4 flex 
  "
  >
    <img src="assets/banner.jpg" alt="banner" />
  </div>
  <div class="col-sm-4 text-gray text-center py-5 px-4 my-5">
    Nina Palumbo Illasdhjaskdhjaksdgkhakghhk
  </div>
</div> -->
<!-- 
<mdb-card
  style="background-image: url('assets/promo/FLATS+PROMO.jpg'); background-size: cover;"
>
  <div class="text-white text-center py-5 px-4 my-5">
    <div>
      <h2 class="card-title h1-responsive pt-3 mb-5 font-bold">
        <strong>Chicago illustrator </strong>
      </h2>
      <p class="mx-5 mb-5">
        Primarily works with ink, digital, and mixed media illustration
      </p>
      <a mdbBtn color="white" outline="true" class="waves-light" mdbWavesEffect>
        <mdb-icon fas icon="clone" class="left"></mdb-icon>View project
      </a>
    </div>
  </div>
</mdb-card> -->

<!-- <div style="display: flex; justify-content: space-evenly;">
  <mdb-card
    class="col-sm-4"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/forest2.jpg'); background-size: cover;"
  >
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
        <h5 class="h5 orange-text">
          <mdb-icon fas icon="camera-retro"></mdb-icon> Photography
        </h5>
        <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
          obcaecati vero aliquid libero doloribus ad, unde tempora maiores,
          ullam, modi qui quidem minima debitis perferendis vitae cumque et quo
          impedit.
        </p>
        <a mdbBtn gradient="peach" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon> View project</a
        >
      </div>
    </div>
  </mdb-card>

  <mdb-card
    class="col-sm-4"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/forest2.jpg'); background-size: cover;"
  >
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
        <h5 class="h5 orange-text">
          <mdb-icon fas icon="camera-retro"></mdb-icon> Photography
        </h5>
        <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
          obcaecati vero aliquid libero doloribus ad, unde tempora maiores,
          ullam, modi qui quidem minima debitis perferendis vitae cumque et quo
          impedit.
        </p>
        <a mdbBtn gradient="peach" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon> View project</a
        >
      </div>
    </div>
  </mdb-card>

  <mdb-card
    class="col-sm-4"
    style="background-image: url('https://mdbootstrap.com/img/Photos/Others/forest2.jpg'); background-size: cover;"
  >
    <div class="text-white text-center rgba-stylish-strong py-5 px-4">
      <div class="py-5">
        <h5 class="h5 orange-text">
          <mdb-icon fas icon="camera-retro"></mdb-icon> Photography
        </h5>
        <h2 class="card-title h2 my-4 py-2">Jumbotron with image overlay</h2>
        <p class="mb-4 pb-2 px-md-5 mx-md-5">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
          obcaecati vero aliquid libero doloribus ad, unde tempora maiores,
          ullam, modi qui quidem minima debitis perferendis vitae cumque et quo
          impedit.
        </p>
        <a mdbBtn gradient="peach" mdbWavesEffect>
          <mdb-icon fas icon="clone" class="left"></mdb-icon> View project</a
        >
      </div>
    </div>
  </mdb-card>
</div> -->

<!-- <div class="card-body text-center mb-3">
  <h3 class="card-title h3 my-4"><strong>Card title</strong></h3>
  <p class="card-text py-2">
    Some quick example text to build on the card title and make up the bulk of
    the card's
  </p>
  <a
    mdbBtn
    gradient="purple"
    rounded="true"
    class="white-text mb-4"
    mdbWavesEffect
    >Button</a
  >
</div> -->
<div class="row">
  <div class="col-sm-6 no-marg ">
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item *ngFor="let work of mainDisplay.showingWorks; let idx">
        <div class="view w-100" style="max-height: 300px; overflow: hidden">
          <img
            class="d-block w-100"
            src="{{ work.path }}"
            alt="{{ idx }} slide"
          />
          <div class="mask rgba-black-light waves-light" mdbWavesEffect></div>
        </div>

        <div class="carousel-caption">
          <h3 class="h3-responsive"></h3>
          <p></p>
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div class="col-sm-6 no-marg">
    <div class="container h-100">
      <h3 class="leading d-block">
        {{ blinkDescript.blinkLongString }}
        <span *ngIf="blinkDescript.timeDone === true">
          {{ this._bs.cursor.blinkString }}</span
        >
      </h3>
    </div>
  </div>
</div>
