<div class="container">
  <br />

  <h1 class="display-3">Save & Settings 💡</h1>
  <div class="row">
    <div class="col">
      <small class="form-text text-muted">
        Saving is used with your browser's localStorage. Your save is tracked
        with a JSON object titled `user`. Upon deleting your Browser history,
        your save will erase permanently. However, if you have downloaded your
        save file here, you may re upload all your user info and characters to
        continue your journey.
        <h1>✨ 🌟 🗡️</h1>
      </small>
    </div>

    <div class="col">
      <p>sample user in storage:</p>
      <pre>  {{ this._ls.startingUser | json }}</pre>
      <small class="form-text text-muted">
        This user key will always exist in your storage while the app is
        running.
      </small>
    </div>
  </div>
  <br />
  <br />

  <div class="container">
    <h1 class="display-3">Your Characters 🗡️</h1>
    <span *ngIf="this._ls.user !== undefined; else noUser">
      <div *ngIf="this._ls.user.characters !== undefined; else noChar">
        <ul *ngFor="let character of this._ls.user.characters">
          <li>
            {{ character.name }}
            <button
              class="btn-success btn-sm"
              (click)="this._gs.navigateToWorld()"
            >
              Play
            </button>
            <button
              class="btn-danger btn-sm"
              (click)="this._ls.deleteCharacter(character.id)"
            >
              Delete
            </button>
          </li>
        </ul>
      </div>
    </span>
  </div>
  <br />
  <br />

  <!-- upload game-->
  <hr />
  <h2>
    Upload your Games/User
    <small class="text-muted">from JSON</small>
  </h2>

  <form class="form-group" (ngSubmit)="this._ls.submitSaveFile()">
    <div class="btn">
      <input
        type="button"
        class="btn-secondary"
        type="file"
        name="profile"
        (change)="this._ls.onFileSelect($event)"
      />
    </div>

    <div class="btn">
      <button class="btn-warning" type="submit">Upload</button>
      <small id="fileHelp" class="form-text text-muted"> </small>
    </div>
    <small id="fileHelp" class="form-text text-muted"
      >We use localStorage and JSON objects to track your progress through the
      game. Upload your save file if you've already downloaded it (your file
      should have been downloaded as "GameSave.json"</small
    >
  </form>
  <hr />

  <!-- <div class="card border-warning mb-3" style="max-width: 20rem">
    <div class="card-body">
      <h4 class="card-title">
        <a
          class="btn btn-warning"
          type="button"
          title="Download JSON"
          (click)="_ls.generateDownloadJsonUri()"
          [disabled]="this._ls.user === null"
          >Download Save Files</a
        >
      </h4>
      <p class="card-text">Save your games as JSON</p>
    </div>
  </div>
  <div class="card border-danger mb-3" style="max-width: 20rem">
    <div class="card-body">
      <h4 class="card-title">
        <a
          class="btn btn-danger"
          type="button"
          title="Download JSON"
          (click)="_ls.generateDownloadJsonUri()"
          [disabled]="this._ls.user === null"
          >DeleteSave Files</a
        >
      </h4>
      <p class="card-text">Delete Games from Local Storage</p>
    </div>
  </div> -->
  <div class="row">
    <div class="col">
      <a
        class="btn btn-primary"
        type="button"
        title="Download JSON"
        (click)="_ls.generateDownloadJsonUri()"
        [disabled]="this._ls.user === null"
        >Download Save Files</a
      >
      <small id="fileHelp" class="form-text text-muted">
        Save your games as JSON</small
      >
    </div>
    <div class="col">
      <button
        class="btn btn-danger"
        type="button"
        (click)="this._ls.wipeStorage()"
      >
        Delete Saves
      </button>
      <small id="fileHelp" class="form-text text-muted">
        Delete Games from Local Storage</small
      >
    </div>
    <div class="col">
      <button
        class="btn btn-secondary"
        type="button"
        (click)="this._ls.setSampleCharacters()"
      >
        Set LocalStorage With Sample Characters
      </button>
      <small id="fileHelp" class="form-text text-muted">
        Set your characters in localStorage for Development Purposes (extracted
        from "sampleUser" in storage.json)</small
      >
    </div>
  </div>

  <hr class="my-4" />
  <p>
    <ng-template class="" #noUser>
      No User Found In LocalStorage (No Saves)

      <button
        class="btn btn-clear"
        type="button"
        (click)="_ls.validateIfStorageExists()"
      >
        Create Storage For Your Game
      </button>
    </ng-template>
    <ng-template class="" #noChar
      ><p><b>LocalStorage Exists! </b></p>
      <p>But you have zero characters</p></ng-template
    >
  </p>
  <pre>{{ this._ls.user | json }}</pre>
</div>
