.sort {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.sortArrow {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
}

.logSidebarContainer {
  align-items: center;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.sortArrow {
  align-items: center;
  justify-content: space-between;
}
.ng-fa-icon {
  cursor: pointer !important;
}

.angular-editor-toolbar {
  background: pink !important;
  background-color: pink !important;

  padding: 10px;
  color: #fff;
  overflow-x: auto;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: 12px;
  border: none;
}
