<h2>Log two using electron-db, node & express backend</h2>
<a>electron-db</a>

<div class="container">
  <form (ngSubmit)="this._ls.addEntry(htmlContent)">
    <div class="form-group">
      <label for="htmlContent1">
        <small id="fileHelp" class="form-text text-muted">
          Add Entry, Automatically saves to local storage under "Log"
          key.</small
        >
      </label>

      <angular-editor
        [placeholder]="'Enter text here...'"
        [(ngModel)]="htmlContent.htmlContent1"
        [config]="editorConfig"
        name="htmlContent1"
      ></angular-editor>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <button class="btn btn-primary mb-2" type="submit">Add New Log</button>
      </div>
      <div class="col-sm-6">
        <button
          class="btn btn-danger mb-2"
          type="button"
          (click)="this._ls.wipeStorageByKey('log')"
        >
          Wipe All Logs
        </button>
      </div>
    </div>
  </form>

  <div class="row container" style="flex-direction: row">
    <div class="col-sm-1 logSidebarContainer bg-primary rounded">
      <div class="sort">
        <div
          class="sortArrow"
          (click)="this._ls.sort('asc', 'log', 'entries'); editStateReset()"
        >
          New
          <fa-icon class="fa-lg" [icon]="faSortUp"></fa-icon>
        </div>
        <div
          class="sortArrow"
          (click)="this._ls.sort('desc', 'log', 'entries'); editStateReset()"
        >
          <fa-icon class="fa-lg" [icon]="faSortDown"></fa-icon>
          Old
        </div>
      </div>
    </div>

    <div class="col-sm-11 container logContainer bg-primary rounded">
      <span class="col-md-6" *ngIf="this._ls.log">
        <span>
          <div
            class="list-group"
            *ngFor="let entry of this._ls.log | async; index as idx"
          >
            <div class="card text-white bg-secondary mb-3">
              <form
                (ngSubmit)="
                  this._ls.submitEditById(
                    entry.id,
                    'log',
                    htmlContent.htmlContent1
                  );
                  editStateReset()
                "
                href="#"
                class="list-group-item list-group-item-action flex-column align-items-start"
              >
                <div
                  class="d-flex w-100 justify-content-between"
                  *ngIf="editState.index !== idx"
                >
                  <h4 class="mb-1">
                    <strong>{{ entry.date | date: "LLLL dd, yyyy" }}</strong>
                  </h4>
                  <hr />
                  <small>{{ entry.date | date: " h:mm a" }} </small>
                </div>
                <div
                  class="form-group"
                  *ngIf="editState.state && editState.index === idx"
                >
                  <label for="exampleFormControlTextarea1">Edit</label>
                  <textarea
                    [(ngModel)]="htmlContent.htmlContent1"
                    class="form-control"
                    id="exampleFormControlTextarea1"
                    rows="10"
                    [value]="entry.content"
                    name="edit"
                  ></textarea>
                </div>
                <p class="mb-1">
                  <button
                    class="btn-success"
                    *ngIf="editState.state && editState.index === idx"
                    type="submit"
                  >
                    <fa-icon
                      style="color: rgb(160, 245, 160); margin-left: 0.25rem"
                      [icon]="faCheck"
                      >Submit</fa-icon
                    >
                  </button>
                  <button
                    class="btn-danger"
                    *ngIf="editState.state && editState.index === idx"
                  >
                    <fa-icon
                      style="color: rgb(245, 160, 160); margin-left: 0.25rem"
                      [icon]="faWindowClose"
                      *ngIf="editState.state && editState.index === idx"
                      (click)="toggleEdit($event, idx)"
                    ></fa-icon>
                  </button>

                  <span
                    *ngIf="editState.index === null || editState.index !== idx"
                    [innerHTML]="entry.content"
                  ></span>
                </p>

                <small>
                  <div
                    class="row"
                    style="flex-direction: row-reverse; margin-right: 0.25rem"
                  >
                    <fa-icon
                      [icon]="faTrashAlt"
                      (click)="this._ls.deleteById(entry.id, 'log', 'entries')"
                      class="fa-xs"
                    ></fa-icon>
                    <fa-icon
                      [icon]="faEdit"
                      (click)="
                        toggleEdit($event, idx);
                        htmlContent.htmlContent1 = entry.content
                      "
                      class="fa-xs"
                    ></fa-icon>
                  </div>
                </small>
              </form>
            </div>
          </div>
        </span>
      </span>
    </div>
  </div>
</div>
