<div class="main-wrapper">
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#"
      ><fa-icon [icon]="faGamepad" class="fa-lg"></fa-icon
    ></a>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['world']"
        >world</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['bag']"
        >bag</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['log']"
        >Log</a
      >
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['multipleChoice']"> multipleChoice</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['save']"
        >Save</a
      >
    </li>
  </nav>
  <router-outlet></router-outlet>
</div>
