.bg-dark {
  background-color: black !important;
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: rgb(233, 236, 239);
}

#icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  > p {
    padding-left: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.contain-icons {
  > svg {
    height: 60px;
    width: 70px;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem !important;
  }
}

.contain-icons {
  > svg:nth-child(1):hover {
    fill: rgb(0, 0, 255) !important;
  }

  > svg:nth-child(2):hover {
    fill: rgb(0, 189, 63) !important;
  }

  > svg:nth-child(3):hover {
    fill: rgb(161, 106, 2) !important;
  }

  > svg:nth-child(4):hover {
    fill: rgb(0, 135, 224) !important;
  }
  > svg:nth-child(5):hover {
    fill: rgb(255, 0, 0) !important;
  }
}

.main-wrapper {
  margin-bottom: 50px;
}

.strikethrough:hover {
  position: relative;
}
.strikethrough:hover:before {
  position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;

  -webkit-transform: rotate(-5deg);
  -moz-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  -o-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
