@import "~bootstrap/dist/css/bootstrap.css";

ul.ba,
ul > *,
li {
  list-style-type: none !important;
}

li > a {
  color: white;
}

li > a:hover {
  color: pink;
}
#sourceText,
code {
  color: rgb(71, 218, 71) !important;
  background-color: black !important;
}
