.terminal-container {
  position: relative;
  width: 100%;
  min-height: 400px;
  border-radius: 6px;
  padding-top: 2rem;
  box-shadow: 1px 1px 3px 3px rgba(143, 143, 143, 0.24);
  margin-top: 1rem;
  overflow: hidden;
  background-color: rgba(15, 15, 16, 0.733);
}

.terminal-contiainer pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  margin-top: 1rem;

  padding: 0 1rem 1rem;
  margin: 0;
}

// Contained
.terminal {
  position: relative;
  z-index: 400;
  width: 80%;
  max-width: 600px;
  border: 3px solid black;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal-before {
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;

  background: rgb(204, 216, 231);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}

.backdrop-text {
  text-indent: 0px !important;
  margin: 0 1rem;
  min-height: 30px;
  margin-top: 1rem;
  color: greenyellow;
}

.red-dot {
  color: red;
}

.yellow-dot {
  color: yellow;
}

.green-dot {
  color: green;
}
