<div class="main-container">
  <div class="container">
    <h1 class="display-3">Character Create</h1>
    <div class="row">
      <div class="col">
        <small class="form-text text-muted">
          Go through the questionaire to get a personality to your character, or
          choose a preset to get started fast
          <h1>✨ 🌟 🗡️</h1>
        </small>
        <button
          class="btn-primary nav-item"
          (click)="this._gs.createPresetCharacter()"
        >
          Start with Brave Preset (easy)
        </button>
      </div>
    </div>
    <fieldset>
      <div class="nav-pills">
        <button
          class="nav-item"
          [disabled]="
            this._gs.questionaire.completed || this._gs.questionaire.start
          "
          (click)="this._gs.questionaire.displayQuestions()"
        >
          {{
            this._gs.questionaire.completed
              ? "Questionaire Completed"
              : "Start Character Create Questionaire"
          }}
        </button>
        <button
          class="nav-item"
          *ngIf="this._gs.questionaire.completed"
          (click)="this._gs.createCharacter()"
        >
          {{ "set Character" }}
        </button>
      </div>

      <div
        *ngIf="_gs.questionaire.start !== false"
        class="container card"
        width="25"
      >
        <br />
        <!-- <h1 class="text-primary">{{ _gs.questionaire | json }}</h1> -->
        <span
          *ngIf="
            _gs.questionaire.currentQuestion.type !== 'unique';
            else uniqueQuestion
          "
        >
          <legend>
            <div class="form-row">
              {{ _gs.questionaire.currentQuestion.text }}
            </div>
          </legend>

          <div *ngFor="let choice of _gs.questionaire.currentQuestion.answers">
            <div class="form-check">
              <input
                (click)="this._gs.questionaire.assignAnswers($event)"
                class="form-check-input"
                type="radio"
                name="exampleRadios"
                id="exampleRadios1"
                [value]="choice.value"
              />
              <label class="form-check-label" for="exampleRadios1">
                <small>{{ choice.text }}</small>
              </label>
            </div>
          </div>
        </span>
        <ng-template #uniqueQuestion>
          <legend>
            <div class="form-row">
              {{ _gs.questionaire.currentQuestion.text }}
            </div>
          </legend>
          <input
            type="text"
            (change)="this._gs.questionaire.assignAnswers($event)"
          />
        </ng-template>
        <button
          [disabled]="
            !this._gs.questionaire.answers[_gs.questionaire.currentQuestion.id]
          "
          (click)="this._gs.questionaire.iterator(true)"
          type="button"
          class="btn btn-primary"
        >
          Next
        </button>
      </div>
      <span *ngIf="this._gs.character">
        Answers of Last Made Character
        <pre> {{ this._gs.character.questionaireAnswers | json }} </pre>

        <pre> {{ this._gs.character | json }} </pre>
      </span>
    </fieldset>
  </div>
</div>
