// body {
//   background-color: black !important;
//   padding: 0 !important;
//   margin: 0 !important;
// }

// .main-wrapper,
// .mat-typography {
//   background-color: black;
// }

.main-container {
  padding: 0 !important;
  //   background-color: black;
  margin: 0 !important;
  height: 100vh;
}

button {
  margin: 1rem !important;
}

p {
  text-indent: 0%;
}
