<div class="row">
  <div class="span-image col-lg-6">
    <div class="main-profile-img"></div>
  </div>

  <div class=" col-lg-6">
    <div class="container content">
      <div class="font-weight-light display-3">
        <img src="assets/logo.png" width="100%" style="margin: 0 auto" />
        <!-- <del
          ><a
            class="strikethrough"
            [routerLink]="['/about']"
            routerLinkActive="router-link-active"
            >Nina Palumbo</a
          ></del
        > -->
      </div>
      <br />
      <!-- 
      <span class="display-4">
        <a
          class="strikethrough"
          [routerLink]="['/software']"
          routerLinkActive="router-link-active"
          >Software </a
        >|
        <a
          class="strikethrough"
          [routerLink]="['/art']"
          routerLinkActive="router-link-active"
          >Art</a
        >
        |
        <a
          class="strikethrough"
          [routerLink]="['/music']"
          routerLinkActive="router-link-active"
          >Music</a
        >
      </span> -->
      <hr />

      <p class="lead">
        Nina Palumbo is a Chicago-based Illustrator, Musician, and full-stack
        software developer who specializes in Front-End Javascript Development &
        Digital Mixed Media Illustration.
      </p>
      <hr />
      <span class="display-4">About</span><br /><br />
      <p>
        Graduated from The American Academy of Art, with 5+ years design
        experience. A 2018 graduate of Coding Dojo Chicago, her future prospects
        involve using her creative sensibilities to transition in software
        development and she has since had several contracts. She is a
        represented by RAW Chicago and previously worked for Reverb.com. Her
        active band includes Indisposed, which reflects the meticulous and
        emotional method exemplified in her artistic work. She instructs guitar
        privately. Once Reverblessons.com highest rated Chicago Instructor, she
        now books with TakeLessons and has earned over 20 five star reviews as
        an instructor. She specializes in music theory, finger-style, metal,
        classical, folk, and alternative forms of playing. Please email her if
        interested and to see availability. View Her Profile Here
      </p>
    </div>
  </div>
</div>

<div class="row second-row">
  <div class="span-image col-lg-7">
    <img
      src="assets/codingcolor.jpeg"
      style="opacity: .92; width: 100%;"
      alt="coding"
    />
  </div>
  <div class="col-lg-5">
    <div class="content container coding-text">
      <span class="display-2"> Coding </span><br /><br />

      <p>
        A 2018 graduate of Coding Dojo Chicago, her future prospects involve
        using her creative sensibilities to transition in software development
        and she has since had several contracts. She is a represented by RAW
        Chicago and previously worked for Reverb.com.
      </p>
    </div>
  </div>
</div>

<div class="row third-row">
  <div class="span-image col-lg-7">
    <img
      src="assets/indisposed_tour.jpg"
      style="opacity: .92; width: 100%;"
      alt="coding"
    />
  </div>

  <div class="content col-lg-5">
    <span class="display-3"> Music </span><br /><br />

    <p>
      Her active band is Indisposed, which reflects the meticulous and emotional
      method exemplified in her artistic work. She instructs guitar privately.
      Once Reverblessons.com highest rated Chicago Instructor, she now books
      with TakeLessons and has earned over 20 five star reviews as an
      instructor. She specializes in music theory, finger-style, metal,
      classical, folk, and alternative forms of playing. Please email her if
      interested and to see availability. View Her Profile Here
    </p>
  </div>
</div>
<div class="jumbotron">
  <span class="display-4"> Blog Updates </span><br /><br />
  <p>
    Dynamically load blog updates here
  </p>
</div>
