<div class="container">
  <!-- Heading Row -->
  <div class="row align-items-center my-5">
    <div class="col-lg-7">
      <img
        class="img-fluid rounded mb-4 mb-lg-0"
        src="assets/indisposed.jpg"
        alt=""
      />
    </div>
    <!-- /.col-lg-8 -->
    <div class="col-lg-5 band-description ">
      <h1 class="font-weight-medium text-success">
        <a class="strikethrough" href="https://indisposed.bandcamp.com"
          >Indisposed</a
        >
      </h1>
      <h2 class="font-weight-light text-white">Emo / Post-Hardcore / Skramz</h2>
      <p>
        Nina Palumbo creates compositionally technical, atmospheric music under
        the project name "Indisposed". Indisposed songs were originally acoustic
        instrumentals until fall of 2015 when the songs transformed into a
        multi-instrumental project to create a dark spoken-word style delivery,
        with heavy layers of post-rock melody. Since January of 2017, the band
        has included Nina Palumbo on guitar and vocals, Daniel Saller on Drums (
        Ikaray), Rebecca Young on bass ( You Folk.), Sam Kim on guitar (Bishop
        and Tideshift).
      </p>

      <p>
        Indisposed.bandcamp.com "Indisposed is an abrasive four-piece influenced
        by screamo, post-rock, math-rock, and spoken-word with poly-rhythmic
        song structures shifting pace between chaotically dissonant to
        melodically haunting."
      </p>
      <p>
        Booking Inquiry: indisposed.chi@gmail.com
        <a class=" text-success" href="#">indisposed.chi@gmail.com </a>
      </p>
    </div>
    <!-- /.col-md-4 -->
  </div>
  <!-- /.row -->

  <!-- Call to Action Well -->
  <div class="card text-white bg-secondary my-5 py-4 text-center">
    <div class="card-body">
      <p class="text-white m-0">
        March 2020 - Indisposed is currently a new line up and looking to play
        shows!
      </p>
    </div>
  </div>
</div>

<div class="card text-white bg-secondary my-5 py-4 text-center">
  <div class="card-body">
    <p class="text-white m-0">
      This call to action card is a great place to showcase some important
      information or display a clever tagline!
    </p>
  </div>
</div>
