@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
.row {
  background-color: black !important;

  > * {
    padding: 0;
  }
}

.band-description {
  color: rgb(187, 187, 187);
  padding: 0rem 2rem !important;
}
a {
  color: $success;
}

a:hover {
  color: $success;
}

body {
  background: black !important;
}

.bg-secondary {
  background-color: forestgreen;
}
